# Internal service settings
KAFKA_BROKER=<YOUR_KAFKA_BROKER>
TOPIC=<YOUR_TOPIC>

# Settings for the logger
LOGGER_DEFAULT_LOG_LEVEL=20

LOGGER_STD_OUT_ENABLE_LOGGING=True
LOGGER_STD_OUT_LOG_LEVEL=20

LOGGER_FILE_ENABLE_LOGGING=True
LOGGER_FILE_LOG_PATH="logs"
LOGGER_FILE_LOG_LEVEL=20
LOGGER_FILE_BYTE_SIZE=1000000
LOGGER_FILE_COMPRESSION=False

LOGGER_HTTP_ENABLE_LOGGING=True
LOGGER_HTTP_LOG_LEVEL=30

# Settings for external APIs
DEEPSEEK_API_KEY=<YOUR_DEEPSEEK_API_KEY>